<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
            a {
                text-decoration: none;
            }
            #bookYearOfPublication, #authorYearOfBirth {
                width: 50px;
            }
        </style>
    </head>
    <body>
        <h1>Search</h1>
        <div>
            <a href="/">To start page</a> |
            <a href="/books">Browse books</a> |
            <a href="/authors">Browse authors</a>
        </div>
        <h3>What do you want to find?</h3>
        <form th:method="GET" th:action="@{/search}" th:object="${search}")>
            <label for="bookName">Book name:</label>
            <input type="text" th:field="*{bookName}" id="bookName">
                <span style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">error</span>
            <br>
            <label for="bookYearOfPublication">Year of publication between</label>
            <input type="number" min="1" max="2021" th:field="*{bookYearOfPublicationMin}" id="bookYearOfPublication" required>
                <span> and </span>
                    <input type="number" min="1" max="2021" th:field="*{bookYearOfPublicationMax}" id="bookYearOfPublicationField" required>
            <br>
            <label for="bookPublisher">Book publisher:</label>
            <input type="text" th:field="*{bookPublisher}" id="bookPublisher">
                <span style="color:red" th:if="${#fields.hasErrors('bookPublisher')}" th:errors="*{bookPublisher}">error</span>
            <br>
            <label for="authorFirstName">Author first name:</label>
            <input type="text" th:field="*{authorFirstName}" id="authorFirstName">
                <span style="color:red" th:if="${#fields.hasErrors('authorFirstName')}" th:errors="*{authorFirstName}">error</span>
            <br>
            <label for="authorLastName">Author last name:</label>
            <input type="text" th:field="*{authorLastName}" id="authorLastName">
                <span style="color:red" th:if="${#fields.hasErrors('authorLastName')}" th:errors="*{authorLastName}">error</span>
            <br>
            <label for="authorYearOfBirth">Author year of birth between</label>
            <input type="number" min="1" max="2021" th:field="*{authorYearOfBirthMin}" id="authorYearOfBirth" required>
                <span> and </span>
                    <input type="number" min="1" max="2021" th:field="*{authorYearOfBirthMax}" id="authorYearOfBirthField" required>
            <br>
            <label>Author sex:</label>
            <input type="radio" th:field="*{authorSex}" value="male" required>Male
            <input type="radio" th:field="*{authorSex}" value="female" required>Female
            <input type="radio" th:field="*{authorSex}" value="undefined" required checked>Undefined
            <br>
            <label>Sort by:</label>
            <input type="radio" th:field="*{sortBy}" value="book_name" required checked>Book name
            <input type="radio" th:field="*{sortBy}" value="year_of_publication" required>Year of publication
            <input type="radio" th:field="*{sortBy}" value="publisher" required>Publisher
            <br>
            <br>
            <input type="reset" value="Clear">
            <input type="submit" value="Search">
        </form>
        <p th:each="book : ${books}">
            <a th:href="@{books/{id}(id=${book.getId()})}" th:text="${book.getName() + '. Published in ' + book.getYearOfPublication() + ' by ' + book.getPublisher()}">
                book_name. Published in year_of_publication by publisher.
            </a>
        </p>
    </body>
</html>