<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Start Page</title>
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>This is start page!</h1>
        <p>
            <a href="/books">Browse books</a> |
            <a href="/authors">Browse authors</a> |
            <a href="/search">Search</a>
        </p>
        <h3>Imagine some news, recommendations, ads and the other stuff here</h3>
    </body>
</html>